DirectoryIndex test.php
Redirect 301 /delivery.php /
ErrorDocument 404 /errors/404.php

AddDefaultCharset UTF-8

IndexIgnore secrets.php

<Files "todolists.php">
  Order Deny,Allow
  Deny from all
  Allow from 37.73.192.37
</Files>

<Files "test.php">
  AuthName "Protected area, need authorization"
  AuthType Basic
  AuthUserFile D:\OSPanel\domains\todolist.com/.authfile
  require valid-user
</Files>
