*{
  margin: 0;
  padding: 0;
}

main{
  margin: 0 auto;
  text-align: center;
  width: 70%;
  min-width: 600px;
  padding-top: 50px;
}

.hidden {
  display: none;
}

.main-menu{
  background-color: blue;
  width: 100%;
  height: 70px;
}

nav{
  color: white;
  float: right;
  padding-right: 40px;
}

nav span{
  font-size: 25px;
  margin: 15px 30px 15px;
  display: inline-block;
  height: 50px;
  vertical-align: middle;
  opacity: 0.85;
}

nav span:hover{
  cursor: pointer;
  color: darkorange;
}

.yellow {
  background-color: yellow;
}

.banner {
  margin: 0 auto 20px auto;
  box-sizing: border-box;
  width: 500px;
  height: 50px;
  border-radius: 25px;
  border: 3px solid black;
  padding-top: 10px;
  font-size: 20px;
}

.form-section{
  margin: 0 auto;
  min-height: 400px;
  background-color: white;
  border: 3px solid black;
  border-radius: 25px;
  width: 500px;
}

.form-section h1{
   background-color: salmon;
   padding-left: 10px;
   text-align: center;
   border-top-left-radius: 23px;
   border-top-right-radius: 23px;
   border: 1px solid salmon;
   color: #435ef8;
}

.form-group{
  width: 80%;
  margin: 25px auto;
  text-align: left;
}

.form-group lable{
  display: block;
  font-weight: bold;
  margin-bottom: 7px;
  font-size: 20px;
}

.form-group input{
  width: 100%;
  min-height: 25px;
  border: 1px solid grey;
  padding-left: 10px;
}

.action-button{
  min-width: 135px;
  border: 1px solid salmon;
  border-radius: 5px;
  border-color: salmon;
  color: white;
  min-height: 30px;
  margin-bottom: 30px;
}

.action-button:hover{
  color: salmon;
}

.action:hover{
  cursor: pointer;
}
